<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net461" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net461" />
  <package id="Geckofx45.64" version="45.0.34" targetFramework="net461" />
  <package id="Geckofx60.32" version="60.0.26" targetFramework="net461" />
</packages>